*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}   

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
}
